
.sub-con{
    height:200px;
    width:200px;
}
.con{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;   
    font-size :15px;
}
@media(max-width:599px){
    .con{
        background-color: rgb(250, 160, 144);
        overflow-y: scroll;
    }
}  
@media(min-width:600px){
    .con{
        background-color: rgb(146, 245, 130);
        overflow-y: scroll;
    }

}  
@media(min-width:768px){
    .con{
        background-image:url("https://upload.wikimedia.org/wikipedia/commons/2/29/Ramappa_Temple_%28Human_Scale%29.jpg");
        background-size: cover;
        flex-direction:row;
    }
}  
@media(min-width:992px){
    .con{
        background-color: rgb(12, 223, 226);
        flex-direction:row;
    }
}  
@media(min-width:1200px){
    .con{
        background-color: rgb(255, 192, 192);
        flex-direction:row;
    }

}  
