
.sub-con{
    height:200px;
    width:200px;
    margin:25px;
}
.con{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;   
    font-size :15px;
}


@media(max-width:599px){
    .con{
        background-color: rgb(245, 130, 218);
        overflow-y: scroll;
    }
}  

@media(min-width:600px) and (max-width:767px){
    .con{
        background-color: rgb(146, 245, 130);
        overflow-y: scroll;
    }
}  
@media(min-width:768px) and (max-width:991px){
    .con{
        background-color: #dec0ff;
        flex-direction:row;
    }
}  
@media(min-width:992px) and (max-width:1199px){
    .con{
        background-color: rgb(12, 223, 226);
        flex-direction:row;
    }
}  
@media(min-width:1200px){
    .con{
        background-color: rgb(255, 192, 192);
        flex-direction:row;
    }

}  
