
.box1{
    background-color:red;
    color:white;
     padding:40px;

    
}
.box2{
    background-color:rgb(13, 0, 255);
    color:white;
    padding:40px;

}

.box3{
    background-color:rgb(255, 111, 0);
    color:black;
    padding:40px;
    
}

.box4{
    background-color:rgb(0, 255, 30);
    color:black;
    width:600px;
    font-size:20px;
    margin:40px auto;
    padding:40px;
    font-weight:bold;
    text-align:center;

}
.para{
    margin:0px !important;
}