.linear{
    border-color: aqua;
    border-style:dotted;
    height:200px;
    width:200px;
    background: linear-gradient(to right,rgb(255, 0, 119),rgb(200, 0, 255),rgb(128, 0, 98));
    box-shadow: 17px 17px 17px rgb(114, 107, 107);
    transition: height 0.9s ease;
 
}

.radial{
    height:200px;
    width:200px;
    border-radius: 100px;
    border-color: aqua;
    border-style:dotted;
    background:radial-gradient(rgb(255, 0, 119),rgb(200, 0, 255),rgb(128, 0, 98));
    box-shadow: 17px 17px 17px rgb(114, 107, 107);
}
.heading{
    color :rgb(5, 20, 21);
    font-style:"ROBOTO";
    font-size: 20PX;
    text-shadow:17px 17px 17px rgb(114, 107, 107);
    padding: 10px;
}
div{
    transition: all 0.5s ease-in-out;
}
.linear:hover{
    transition: all 0.5s ease-in-out;
    transform:scale(1.1);
    transition: background-color 0.5s ease-in;
}