.grid{
    background-color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.image{
    text-align:center;
    height:200px;
    width:200px;
    font-size:10px;
    margin:5px
}
.heading{
    text-align:center;
    height:60px;
    font-size:25px;
    color :black;
    background-color:white;
    padding: 9px;
}